
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url('/public/ground.jpg');
  background-position: center;
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main, footer {
  display: flex;
}
header, footer {
  justify-content: center;

}
footer {
  position: sticky;
  left: 0;
  bottom: 0;
}
header {
  position: sticky;
  left: 0;
  top: 0;
  /* background: #028c69; */
  background: transparent;
  padding: 2rem;
}
main {
  min-height: 100vh; 
}
ul {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 1rem;
}
ul li {
  border: 1px solid #ffffff6f;
  list-style-type: none;
  padding: 1rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: dodgerblue;
  transition: all 0.5s;
}
ul li:hover {
  background: #000;
  border: none;
  transition: all 0.5s;
}
li:first-child {
  border-radius: 10px 10px 0 0;
}
li:last-child {
  border-radius: 0 0 10px 10px;
}
.delete-icon {
  font-size: 2rem;
  color: white;
}
.delete-icon:hover {
  color: rgba(255, 0, 0, 0.843);
}
.deleteButton {
  background: transparent;
  border: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
form {
  background: #000;
  padding: 1rem;
}
form input {
  padding: 1rem;
  border: none;
  border-radius: 10px 0 0 10px;
}









.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 30px;
  /* user-select: none; */
}
.item-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.checkmark {
  opacity: 0.4;
}

.container input:checked ~ .checkmark {
  background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  opacity: 0.9;
  transition: all 0.2s ease;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.61em;
  top: 0.43em;
  width: 0.25em;
  height: 0.5em;
  border: solid rgb(255, 255, 255);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}